@media screen and ( max-width: $desktop-small ) //1200px
  .container
    max-width: initial
   
@media screen and ( max-width: $tablet-horizontal )


@media screen and ( max-width: $tablet ) //1024px

  .buy-list
    grid-template-columns: repeat(9, 1fr)

@media screen and ( max-width: $mobile-horizontal ) // 900px

  .item__title
    font-size: 22px

  .list__item
    margin-bottom: 16px

@media screen and ( max-width: $big-mob ) // 768px
  .buy-list
    grid-template-columns: repeat(8, 1fr)

  .buy-list__item
    grid-column: 4 span

  .header__contacts
    display: flex
    flex-direction: column

  .header__mail
    margin-right: 0px
    font-size: 12px

  .header__phone
    font-size: 12px

  .main__title
    max-width: 445px
    font-size: 22px

  .list
    flex-wrap: wrap
    justify-content: space-between

  .list__item
    margin-right: 0
    margin-bottom: 16px

  .list
    margin-bottom: 30px

@media screen and ( max-width: $mobile ) //576px
  .tags__item
    max-width: 351px

  .tags__item-span1
    padding-right: 10px !important
  .buy-list
    grid-template-columns: repeat(6,1fr)
    row-gap: 15px

  .buy__title
    font-size: 20px

  .buy-list__item
    border: 6px solid $positive-color
    background-position: 50% 20px
    padding: 10px
    grid-column: 3 span
    max-width: 156px
    width: 100%
    max-height: 156px

    &--1
      background-size: 114px 61px
    &--2
      background-size: 97px 58px
    &--3
      background-size: 113px 59px
    &--4
      background-size: 86px 60px
    &--5
      background-size: 98px 57px
    &--6
      background-size: 72px 67px
    &--7
      background-size: 54px 74px
    &--8
      background-size: 88px 42px
    &--9
      background-size: 86px 61px
    &--10
      background-size: 100px 59px


  .buy-list__descr
    font-size: 11px

  .quiz
     padding-top: 0

  .quiz__title
    font-size: 14px
    max-width: 375px

  .quiz__descr
    font-size: 14px

  .radio-item span
    margin-left: 1.5rem

  .radio-item span:before
    width: 15px
    height: 15px
    margin-top: -0.3rem
    margin-left: -1.5rem

  .radio-item span:after
    width: 15px
    height: 15px
    margin-top: -0.3rem
    margin-left: -1.5rem



  .footer
    background: url(../img/footer-small.png)
    background-repeat: no-repeat
    background-size: cover

  .footer__inner
    display: none
  
  .footer__innermob
    display: block

    .footer__left
      flex-direction: row
      align-items: center
      margin-bottom: 23px
      padding-right: 0

    .footer__logo
      max-width: 117px
      margin-bottom: 0

    .footer__descr
      font-size: 13px

    .footer__mail
      font-size: 13px

    .footer__phone
      font-size: 13px
    
    .footer__right-descr
      font-size: 14px
      margin-bottom: 20px
    
    .footer__right-copy
      font-size: 14px

  

  .main__title
    margin-bottom: 1rem
    font-size: 18px

  .main__descr
    font-size: 14px
    margin-bottom: 25px


  .tags__item
    span
      font-size: 16px
      padding-bottom: 11px

  .main
    padding-top: 0

  .header__logo
    img
      max-width: 95px

  .questions__input--top
    font-size: 12px

    &::placeholder
      font-size: 12px

  .questions__input--bottom
    font-size: 12px

    &::placeholder
      font-size: 12px

  .list__item
    max-width: 158px

  .list__item:not(:last-child)
    margin-right: 0

  .item__title
    font-size: 18px

  .item__descr
    font-size: 12px

  .btn__main
    font-size: 10px
    max-width: 170px
    height: 40px
    padding: 0

  .btn__main--bottom
    font-size: 16px
    max-width: 310px
    height: 60px
    

  .question__title
    font-size: 16px

  .form__title
    font-size: 16px

  .radio-item
    span
      font-size: 12px


    body
        font-size: .7rem

    h1
        font-size: 1.3rem

    h2,
    h3
       font-size: .9rem

    .header
      padding: 15px 0 15px 0

    .header__mail
      font-size: 12px

    .header__phone
      font-size: 12px

    section
        padding: 1.5rem 0

    .section-title
        margin-bottom: 1.5rem

    .header__logo
        width: 5rem

    .header__city
        font-size: .6rem

        img
            width: .5rem
            margin-right: .3rem

    .main
        padding: 8px 0

    .main__descr
        margin-bottom: 25px
        font-size: 18px
        max-width: 435px

    

    .tags__item
      max-width: 509px 

    .btn__main
      font-size: 10px
      max-width: 180px
      height: 40px
      padding: 0
       

    .question
        margin-bottom: 1.5rem

    .question__title
      font-size: 16px !important
      
    .question__title:placeholder
      font-size: 12px

    .radio-item
      font-size: 12px  !important

    .question__title,
    .form__title
        margin-bottom: .8rem


    input[type=text]
        margin-bottom: .8rem

    .form__policy 
        margin-top: .7rem

    input[type=text],
    input[type=submit]
        font-size: .7rem

    .form__policy 
        font-size: .5rem
        text-align: center

    

    

@media screen and ( max-width: $soso-mobile ) // 375px
  .main__title
    font-size: 16px

  .btn__main--bottom
    font-size: 12px
    max-width: 255px

  

@media screen and ( max-width: $small-mobile )