footer.footer
  .container 
    .footer__inner
      .footer__left 
        img.footer__logo(src="../assets/img/logo-1.png")

        .footer__contacts
          span.footer__descr КОНТАКТЫ
          a.footer__mail(href="mailto:sales@hvalacloud.ru") hvala.franchise@mail.ru
          a.footer__phone(href="tel:+79539129371") +7 953 912-93-71

      .footer__right 
        p.footer__right-descr HVALA — это технология, которая приносит пользу бизнесу

        span.footer__right-copy © ООО КРЕАТИВНЫЙ СИНДИКАТ, 2022
    .footer__innermob
      .footer__left 
        img.footer__logo(src="../assets/img/logo-1.png")

        .footer__contacts
          span.footer__descr КОНТАКТЫ
          a.footer__mail(href="mailto:sales@hvalacloud.ru") hvala.franchise@mail.ru
          a.footer__phone(href="tel:+79539129371") +7 953 912-93-71

      .footer__right 
        p.footer__right-descr HVALA — это технология, которая приносит пользу бизнесу

        span.footer__right-copy © ООО КРЕАТИВНЫЙ СИНДИКАТ, 2022
        