header.header
    .container 
        .header__row
          .header__logo 
            img( src="../assets/img/logo-1.png" )    
          .header__contacts
            a.header__mail(href="mailto:sales@hvalacloud.ru") hvala.franchise@mail.ru
            a.header__phone(href="tel:+79539129371") +7 953 912-93-71 