//- Extends and variables start

extends ../layout/main

//- HTML start

block content

    section.main
        //- img.vector-top(src="../src/assets/img/vector-top.png")
        .container
            .main__row 
                .main__col
                   
                    h1.main__title ФРАНШИЗА HVALA — СОЗИДАЕМ БУДУЩЕЕ 
                    span.main__descr HVALA – федеральная компания, предоставляющая технологичную wi-fi платформу по всей России

                    .main__tags.tags
                        .tags__item
                            span – к нашей платформе <span class="tags__item-span1">подключено</span> &nbsp;более 1000  заведений

                        .tags__item
                            span – благодаря нам<span class="tags__item-span2">было</span> &nbsp;зарегистрировано &nbsp;более <span class="tags__item-span3">2 000 000</span> &nbsp;пользователей
                .main__conditions
                    ul.list 
                      li.list__item 
                        span.item__title 300 000
                        p.item__descr паушальный взнос
                      li.list__item 
                        span.item__title 60%
                        p.item__descr Рентабельность
                      li.list__item 
                        span.item__title от 3-х месяцев 
                        p.item__descr окупаемость
                button.btn.btn__main Оставить заявку

    section.buy
        .container 
            h2.buy__title <span>HVALA</span> ПОКУПАЮТ

            ul.buy-list 
                li.buy-list__item.buy-list__item--1
                    p.buy-list__descr РЕСТОРАНЫ, КАФЕ
                li.buy-list__item.buy-list__item--2
                    p.buy-list__descr БАРЫ, ПАБЫ
                li.buy-list__item.buy-list__item--3
                    p.buy-list__descr ОТЕЛИ, БАЗЫ ОТДЫХА
                li.buy-list__item.buy-list__item--4
                    p.buy-list__descr АВТОСАЛОНЫ
                li.buy-list__item.buy-list__item--5
                    p.buy-list__descr САЛОНЫ КРАСОТЫ
                li.buy-list__item.buy-list__item--6
                    p.buy-list__descr СПОРТИВНЫЕ СООРУЖЕНИЯ
                li.buy-list__item.buy-list__item--7
                    p.buy-list__descr ТОРГОВЫЕ ЦЕНТРЫ
                li.buy-list__item.buy-list__item--8
                    p.buy-list__descr ФИТНЕС-ЦЕНТРЫ
                li.buy-list__item.buy-list__item--9
                    p.buy-list__descr УЧЕБНЫЕ ЗАВЕДЕНИЯ
                li.buy-list__item.buy-list__item--10
                    p.buy-list__descr КОНЦЕРТНЫЕ ПЛОЩАДКИ, ТЕАТРЫ


    section.quiz
        .container
            .quiz__title Ответьте на <span>7 вопросов</span> и уточните сумму заработка с своЁм городе
            .quiz__descr + получите развёрнутую фин. модель
            .row 
                .col-lg-6.col-12
                  
                    form.form( data-metrika=`${metrikaId}` )

                        input(type="hidden" name="utm_source")
                        input(type="hidden" name="utm_medium")
                        input(type="hidden" name="utm_campaign")
                        input(type="hidden" name="utm_content")
                        input(type="hidden" name="utm_term")

                        .question.form__item
                            h3.question__title Из какого вы города?

                            input#district-1.questions__input--top(type='text' name='district' placeholder="Введите город" required='')
                            label.form-check-label(for='district-1')


                            //- .question__input
                            //-     input( type="radio" value="Московский район" id="qw1-1" name="qw1" checked )
                            //-     label.radio-item( for="qw1-1" ) 
                            //-         span Московский район

                        .question.form__item
                            h3.question__title Есть ли у Вас опыт ведения бизнеса?

                            .question__input
                                input( type="radio" value="Да" id="qw2-1" name="qw2" )
                                label.radio-item( for="qw2-1" ) 
                                    span Да

                            .question__input
                                input( type="radio" value="Нет" id="qw2-2" name="qw2" )
                                label.radio-item( for="qw2-2" ) 
                                    span Нет

                        .question.form__item
                            h3.question__title Какие услуги поддержки вы бы хотели получить?

                            .question__input
                                input( type="radio" value="подбор помещения" id="qw3-1" name="qw3" )
                                label.radio-item( for="qw3-1" ) 
                                    span подбор помещения

                            .question__input
                                input( type="radio" value="финансовая модель" id="qw3-2" name="qw3" )
                                label.radio-item( for="qw3-2" ) 
                                    span финансовая модель

                            .question__input
                                input( type="radio" value="настройка лидогенерации" id="qw3-3" name="qw3" )
                                label.radio-item( for="qw3-3" ) 
                                    span настройка лидогенерации

                            .question__input
                                input( type="radio" value="полное сопровождение до запуска" id="qw3-4" name="qw3" )
                                label.radio-item( for="qw3-4" ) 
                                    span полное сопровождение до запуска

                        .question.form__item
                            h3.question__title Какой объем инвестиций для Вас комфортный?

                            .question__input
                                input( type="radio" value="400 000 — 600 000 р" id="qw4-1" name="qw4" )
                                label.radio-item( for="qw4-1" ) 
                                    span 400 000 — 600 000 р

                            .question__input
                                input( type="radio" value="600 000 — 1 000 000 р" id="qw4-2" name="qw4" )
                                label.radio-item( for="qw4-2" ) 
                                    span 600 000 — 1 000 000 р

                            .question__input
                                input( type="radio" value="более 1 000 000 р" id="qw4-3" name="qw4" )
                                label.radio-item( for="qw4-3" ) 
                                    span более 1 000 000 р

                        .question.form__item
                            h3.question__title Какие услуги вас интересуют?

                            .question__input
                                input( type="radio" value="контекст" id="qw5-1" name="qw5" )
                                label.radio-item( for="qw5-1" ) 
                                    span контекст

                            .question__input
                                input( type="radio" value="таргет" id="qw5-2" name="qw5" )
                                label.radio-item( for="qw5-2" ) 
                                    span таргет

                            .question__input
                                input( type="radio" value="разработка" id="qw5-3" name="qw5" )
                                label.radio-item( for="qw5-3" ) 
                                    span разработка

                        .question.form__item
                            h3.question__title Когда планируете начать?

                            .question__input
                                input( type="radio" value="в ближайший месяц" id="qw6-1" name="qw6" )
                                label.radio-item( for="qw6-1" ) 
                                    span в ближайший месяц

                            .question__input
                                input( type="radio" value="в течение 3-х месяцев" id="qw6-2" name="qw6" )
                                label.radio-item( for="qw6-2" ) 
                                    span в течение 3-х месяцев

                            .question__input
                                input( type="radio" value="в течение 6-и месяцев" id="qw6-3" name="qw6" )
                                label.radio-item( for="qw6-3" ) 
                                    span в течение 6-и месяцев

                            .question__input
                                input( type="radio" value="в течение 6-и месяцев" id="qw6-4" name="qw6" )
                                label.radio-item( for="qw6-4" ) 
                                    span в течение 6-и месяцев
                            .question__input
                                input( type="radio" value="позже" id="qw6-5" name="qw6" )
                                label.radio-item( for="qw6-5" ) 
                                    span позже

                        h3.form__title Оставьте Ваши контакты для доступа к материалам 

                        input.questions__input--bottom(type="text" name="name" placeholder="Имя" required )
                        input.questions__input--bottom(type="text" name="phone" placeholder="Телефон" required )
                        input.questions__input--bottom(type="text" name="email" placeholder="Email" required )


                        input.btn.btn__main.btn__main--bottom(type="submit" value="ПОЛУЧИТЬ ФИН.МОДЕЛЬ" )

    .modal.fade#thankslModal
        .modal-dialog
            .modal-content
                .modal-body
                    button( type="button" data-dismiss="modal" ).close
                        span( aria-hidden="true" ) &times;
                    h3.modal__title Ваши данные успешно отправлены

//- HTML end