//- Extends and variables start

extends ../layout/main

//- HTML start

block content
    
    header.header
        .container.header__nav
            .row 
                .col-12
                    img( src="../assets/img/logo.svg" ).header__logo

        .container-fluid.header__descr.header__descr-thanks
            .container
                .row 
                    .col-12
                        h1.header__title Благодарим за обращение!

                        p Поздравляем, в вашей ситуации возможна процедура банкротства по федеральному закону №127 от 2450 рублей в месяц.
                        p Пошаговая инструкция для вашего случая:
                        ol 
                            li
                                | В ближайшее время с вами по телефону свяжется наш специалист для уточнения деталей. 
                                | Точную стоимость процедуры банкротства можно определить только после детального разбора 
                                | вашей ситуации. В вашем случае списать долги возможно от 2450 рублей в месяц. 
                                | Наш диалог — это первый шаг на пути к свободной жизни без долгов.

                            li
                                | Записаться на БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ в вашем городе. 

                            li
                                | Получить перечень необходимых документов от юриста.

                            li
                                | Заключить договор и остановить уже в 1-ый день рост долга.

    section.reviews
        .container
            .row 
                .col-12
                    .reviews__container
                        h2 Отзывы наших клиентов

                        .reviews__grid
                            iframe(
                                src="https://www.youtube.com/embed/GU_kJFMUdOs" 
                                frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen=""
                            )

                            iframe(
                                src="https://www.youtube.com/embed/LBrM95CIaOI" 
                                frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen=""
                            )

                            iframe(
                                src="https://www.youtube.com/embed/GU_kJFMUdOs" 
                                frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen=""
                            )

                    h2 Ваше светлое будущее без долгов и звонков коллекторов зависит от вас
                    a( href="bfl.pdf" target="_blank") Получить инструкцию “5 способов списания долгов в 2022 году”

    footer.footer.footer-thanks
        .container
            .row
                .col-lg-6.col-md-4.col-6.footer__phone
                    a( href="tel:88003500814" ) 8 (800) 350-08-14
                    span Звонок бесплатный

                .col-lg-6.col-md-8.col-6
                    .desktop-and-tablets-props.footer__props
                        span ОГРН 1176313006924  |  ИНН 6330075453
                        span ООО "Федлекс"  |  Все права защищены © 2022

                    .mobile-props.footer__props
                        span ОГРН 1176313006924
                        span ИНН 6330075453

            .row.mobile-copyright
                .col-12
                    span ООО "Федлекс"  |  Все права защищены © 2022

//- HTML end