include ../utils/mixins

block variables
    - var title = 'HVALA —  Созидаем будущее';
    - var websiteUrl = 'hvala.ru';
    - var metrikaId = '90325315';

doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title}

        //- Header scripts start

        //- Header scripts end
        
    body
        include ../includes/modules/header

        block content

        include ../includes/modules/footer
        

        //- Footer scripts start

        // Yandex.Metrika counter
        script(type='text/javascript').
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
            ym(#{metrikaId}, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true
            });
        noscript
        div
        img(src=`https://mc.yandex.ru/watch/${metrikaId}`, style='position:absolute; left:-9999px;', alt='')
        // /Yandex.Metrika counter
       

        //- Footer scripts end
