$positive-color:                #fff
$negative-color:                #000
$accent-color:                  #B67B24
$range-bg:                      #EAEAEA
$divider:                       #A4A4A4
$bg-red:                        #E30921

$small-mobile:                    320px
$soso-mobile:                     375px
$mobile:                          576px
$big-mob:                         768px
$mobile-horizontal:               900px
$tablet:                          1024px
$tablet-horizontal:               1180px
$desktop-small:                   1200px


@import "utils/mixins"
@import "utils/reset"
@import "utils/media"

@include fontFace('Retron2000')
@include fontFace('PressStart2P')


html
    font-size: 20px
    height: 100%
    width: 100%

body
    font-family: Retron2000
    color: $positive-color
    height: 100%
    width: 100%
    font-size: 1rem

h1
    font-family: PressStart2P
    font-style: normal
    font-weight: 400
    font-size: 36px
    line-height: 140%

    color: #F4F4F4


h2
    font-family: Retron2000
    font-size: 1.6rem

h3
    font-family: Retron2000
    font-size: 1.2rem

a
    color: $positive-color
    transition: 400ms

    &:hover
        color: $bg-red
        text-decoration: none

section
    // padding: 3rem 0

.section-title
    margin-bottom: 2rem

.text--accent
    color: $accent-color

.header
    padding: 1.1rem 0
    background-color: $negative-color

.header__row
  display: flex
  align-items: center
  justify-content: space-between


.header__logo
    // width: 8.75rem

.header__mail
  margin-right: 85px

.header__col
    display: flex
    align-items: center

.header__col-city
    justify-content: flex-end

.header__city
    display: flex
    align-items: center
    justify-content: space-between

    img
        width: 100%
        margin-right: .5rem


.header__contacts
  font-style: normal
  font-weight: 400
  font-size: 20px
  line-height: 140%
  text-align: right
  color: #FFFFFF

.main
    // padding: 6rem 0 4rem
    background: url(../img/main-bg-3.png)
    background-position: 50% 18px
    // background-position-y: -96px
    background-repeat: no-repeat
    background-size: cover
    color: $positive-color
    background-color: $negative-color

    position: relative
    top: -1px
    padding-top: 60px
    padding-bottom: 53px

.main__col
    display: flex
    flex-direction: column
    position: relative
    // top: -2rem
    max-width: 100%

.main__descr
    font-style: normal
    font-weight: 400
    font-size: 20px
    line-height: 140%
    color: #FFFFFF
    margin-bottom: 38px
    max-width: 635px

.main__title
    margin-bottom: 25px
    max-width: 635px

.vector-top
  position: absolute
  width: 100%
  top: 0
  right: 0
  z-index: -1

.tags
  margin-bottom: 30px
  max-width: 713px

.tags__item-span1
  padding: 0 !important

.tags__item
    display: inline-block
    
    max-width: 709px

    &:nth-last-child(2)
      margin: 0 0 21px 0
            
    span
      font-family: 'Retron2000'
      font-style: normal
      font-weight: 400
      font-size: 20px
      line-height: 140%
      padding-right: 10px
      padding-left: 9px
      padding-bottom: 8px
      background: $bg-red

      color: #FFFFFF



.list
  display: flex
  align-items: center
  margin-bottom: 50px

.list__item
  max-width: 255px
  width: 100%

  &:not(:last-child)
    margin-right: 30px

.item__title
  color: $bg-red
  font-family: 'Retron2000'
  font-style: normal
  font-weight: 400
  font-size: 28px
  line-height: 140%

.btn__main
  font-family: PressStart2P
  font-style: normal
  font-weight: 400
  font-size: 18px
  line-height: 140%
  text-align: center
  text-transform: uppercase
  color: $bg-red
  background-color: $positive-color
  height: 74px
  max-width: 350px
  width: 100%
  border-radius: 0px
  border-image: url(../img/border.png) 4% 0 fill/5px 5px 5px 5px/0 13px 0 13px stretch
  margin-left: 10px

  &--bottom
    font-family: PressStart2P
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 140%
    text-align: center
    color: #FF001C
    max-width: 424px
    border-image: url(../img/border.png) 4% 0 fill/5px 5px 5px 5px/0 15px 0 15px stretch
    margin-top: 20px


.buy
  position: relative
  top: -2px
  background-color: $negative-color
  padding-top: 15px
  padding-bottom: 40px
  

.buy__title
  font-family: PressStart2P
  font-style: normal
  font-weight: 400
  font-size: 36px
  line-height: 140%
  margin-bottom: 38px
  span
    color: $bg-red

.buy-list
  display: grid
  grid-template-columns: repeat(12, 1fr)
  gap: 30px

.buy-list__item
  grid-column: 3 span
  display: flex
  flex-direction: column
  justify-content: flex-end
  
  background-repeat: no-repeat
  background-position: 50% 35px
  border: 10px solid $positive-color
  padding: 18px
  max-width: 255px
  width: 100%
  height: 255px

  &--1
    background-image: url("../img/photo-1.png")
  &--2
    background-image: url("../img/photo-2.png")
  &--3
    background-image: url("../img/photo-3.png")
  &--4
    background-image: url("../img/photo-4.png")
  &--5
    background-image: url("../img/photo-5.png")
  &--6
    background-image: url("../img/photo-6.png")
  &--7
    background-image: url("../img/photo-7.png")
  &--8
    background-image: url("../img/photo-8.png")
  &--9
    background-image: url("../img/photo-9.png")
  &--10
    background-image: url("../img/photo-10.png")

.buy-list__descr
  font-family: 'Retron2000'
  font-style: normal
  font-weight: 400
  font-size: 19px
  line-height: 140%
  text-align: center
  color: #FBC633



.quiz
  background-color: $negative-color
  position: relative
  top: -2px
  padding-top: 38px
  padding-bottom: 55px

.quiz__title
  font-family: PressStart2P
  font-style: normal
  font-weight: 400
  font-size: 24px
  line-height: 140%
  text-transform: uppercase
  color: $positive-color
  max-width: 825px
  margin-bottom: 10px

  span
    color: $bg-red

.quiz__descr 
  font-family: 'Retron2000'
  font-style: normal
  font-weight: 400
  font-size: 24px
  line-height: 115.6%
  margin-bottom: 43px

.form
    display: flex
    flex-direction: column

.question
    margin-bottom: 62px
    display: flex
    flex-direction: column

    .question__input:last-child
        margin-bottom: 0

.question__title
    margin-bottom: 26px
    font-family: 'Retron2000'
    font-style: normal
    font-weight: 400
    font-size: 24px
    line-height: 115.6%

.questions__input--top
  border-radius: 0
  border: none
  border-bottom: 1px solid #E5E5E5
  background-color: transparent
  color: $positive-color
  padding: 0px 10px 10px 0

  max-width: 350px

  &::placeholder
    color: $positive-color
    font-family: 'Retron2000'
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 115.6%

.questions__input--bottom
  border-radius: 0
  border: none
  border-bottom: 1px solid #E5E5E5
  background-color: transparent
  color: $positive-color
  padding: 0px 10px 10px 0
  margin-bottom: 30px

  max-width: 445px
  
  &::placeholder
    font-family: 'Retron2000'
    font-style: normal
    font-weight: 400
    font-size: 20px
    line-height: 115.6%
    color: #979797

    line-height: 115.6%

.question__input
    margin-bottom: 25px      

.question__input

    input[type=radio],
    input[type=checkbox]
        display: none

.radio-item
    cursor: pointer


    span
        position: relative
        margin-left: 2rem

        font-family: 'Retron2000'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 115.6%

        &::before
            content: ""
            position: absolute
            left: 0
            top: 50%
            margin-top: -0.5rem
            width: 22px
            height: 22px
            background: none
            border: 3px solid $positive-color
            border-radius: 50%
            margin-left: -2rem

        &::after
            display: none
            content: ""
            position: absolute
            left: 0
            top: 50%
            margin-top: -0.5rem
            margin-left: 0.2rem
            width: 22px
            height: 22px
            background: $positive-color
            border-radius: 50%
            margin-left: -2rem

input[type=radio]:checked + .radio-item span:after
    display: block

input[type=radio]:checked + .radio-item span:before
    border: .05rem solid $accent-color

.rangeslider
    width: 100%
    height: .5rem
    background: $range-bg
    border-radius: 1rem

.rangeslider__fill
    background: $accent-color
    height: 100%
    border-radius: 1rem 0 0 1rem

.rangeslider__handle
    position: absolute
    width: 1.2rem
    height: 1.2rem
    border-radius: 100%
    background: $positive-color
    box-shadow: 0 0 .1rem rgba(0, 0, 0, 0.45)
    margin-top: -.85rem
    margin-left: .75rem

.rangeslider__output
    display: block
    font-family: Roboto-Bold
    margin-top: .8rem

.rangeslider__handle
    touch-action: none

.form__title
    margin-bottom: 1.5rem

// input[type=text],
// input[type=submit]
//     width: 100%
//     padding: 0 .8rem
//     border-radius: .3rem
//     min-height: 2.5rem

/* input[type=text]
    border: .05rem solid $divider
    margin-bottom: 1rem
    font-size: .8rem

    &::placeholder
        color: $divider */

// input[type=submit]
//     font-size: .9rem
//     color: $positive-color
//     font-family: Roboto-Bold
//     background: $accent-color
//     transition: 400ms

//     &:hover
//         opacity: .8

.form__policy 
    font-size: .65rem
    margin-top: 1rem

.policy h2
    margin-bottom: .5rem

.policy p
    margin-bottom: 1.5rem

.modal__title
  color: $negative-color

.footer
    padding: 2rem 0
    background: url(../img/footer-bg-2.png)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-color: $negative-color
    color: $negative-color
    font-size: .8rem
    max-height: 253px
    height: 100%

    position: relative
    top: -3px

.footer__col
    display: flex
    flex-direction: column
    align-items: center
    text-align: center

.footer__innermob
  display: none


.footer__inner
  display: flex
  justify-content: space-between

.footer__left
  display: flex
  flex-direction: column
  justify-content: space-between
  padding-right: 10px

.footer__logo
  max-width: 160px
  margin-bottom: 42px


.footer__contacts
  display: flex
  flex-direction: column



.footer__descr
  font-family: 'Retron2000'
  font-style: normal
  font-weight: 400
  font-size: 20px
  line-height: 140%
  text-transform: uppercase
  color: #FBC633

.footer__right
  display: flex
  flex-direction: column 
  justify-content: space-between

.footer__right-descr
  font-family: 'Retron2000'
  font-style: normal
  font-weight: 400
  font-size: 20px
  line-height: 140%
  color: $positive-color
  max-width: 445px

.footer__right-copy
  font-family: 'Retron2000'
  font-style: normal
  font-weight: 400
  font-size: 20px
  line-height: 140%
  text-transform: uppercase
  color: $positive-color

.footer__mail
  font-size: 20px

.footer__phone
  font-size: 20px

.form-control
    border: 2px solid #b67b24

.form-control:focus, 
.form-control:active,
.form-control:visited
    border: 3px solid #b67b24
    box-shadow: 0 0 0 0.2rem rgb(182 123 36 / 25%)